:root{
    --grey:#2F2D2F;
    --green: #00FF8A;
    --white: #F4F4F4;
    --black: #0c0c0c;
    --lgray:#929092;
    
}
@font-face {
    font-family: hell;
    src: url(HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}
@font-face {
    font-family: hell-bold;
    src: url(Helvetica\ Bold.ttf);
}
@font-face{
    font-family: neu;
    src: url(NeueMachina-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}
.lgray{
    color: var(--lgray);
}
.green{
    color: var(--green);
}
.smol{
    font-size: 14px;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: var(--black);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px 50px;
    font-family: neu;
    position: fixed;
    width: 100%;
    background: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}
.nav1 h6{
    font-size: 15px;
    font-weight: 100;
    
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 100;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-weight: 100;
}
.nav3{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-weight: 100;
}
.nav2 h4{
    font-size: 18px;
    font-weight: 100;
}
.nav3 h4{
    font-size: 18px;
    font-weight: 100;
}

.nav1 img{
    width: 45px;
}
.nav2 img{
    height: 30px;
    border-radius: 50%;
    width: 30px;
}
.nav3 img{
    height: 30px;
    border-radius: 50%;
}
.nav2 h4 i{
    font-size: 20px;
}

.hamburger{
    display: none;
    font-size: 25px;
    cursor: pointer;
}
@media(max-width:600px){
    .nav2 h4:not(.hamburger){
        display: none;
    }
    .hamburger{
        display: block;
        color: var(--white);
    }
}
@media(max-width:600px){
    nav{
        padding: 10px 25px;
    }
    .nav1 img{
        height: 30px;
        width: 30px;
    }    
    .nav1 h4{
        display: flex;
    }
}
main{
    padding-top: 100px;
}
.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: hell;
    padding: 15px 70px;
}
.section1 .left{
    width: 42%;
}
.section1 .left h1{
    font-size: 48px;
}
.section1 .left .tags{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px 5px;
    margin: 30px 0px;
}
.section1 .left .tags h4{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--grey);
    white-space: nowrap;
}
.left .price{
    color: var(--green);
}
.left .scartch{
    color: var(--green);
}
.left .cut{
    text-decoration: line-through;
}
.section1 .left h3 .lgray{
    font-size: 10px;
}
.section1 .left .cta{
    display: flex;
    align-items: center;
}
.cta button{
    background-color: #00A753;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;
    margin: 20px 20px 0px 0px;
    font-weight: bold;
    cursor: pointer;
}
.cta button:nth-child(2){
    background-color: var(--lgray)
}
.section1 .right{
    border-radius: 100px;
    width: 100%;
    max-width: 600px;;
}

.section1 .right .right-in{
    width: 100%;
    overflow: hidden;
    background-color: red;
}
.section1 .right .right-in .image{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.section1 .right .right-in .image img{
    width: 100%;
    height: 100%;
    
}
.section1 .right .right-in .image-bottom{
    padding: 20px;
    padding-top: 40px;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.right-in .image-bottom h4{
    background-color: #141416;
    padding: 10px 15px;
    width: 45%;
    font-weight: 50px;
    gap : 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.batch{
    margin-top: 15px;
    font-family: neu;
    font-weight: 100;
}
@media(max-width:1400px){
    .section1 .left h1{
        font-size: 4vw;
    }
    .section1 .right .right-in .image{
    width: 100%;
    height: 30vw;
    object-fit: cover;
    }
}
@media(max-width:800px){
    main{
        padding-top: 15vw;
    }
    .section1{
        flex-direction: column-reverse;
        padding: 4vw;
    }
    .section1 .left{
        width: 42%;
    }
    .section1 .left h1{
        font-size: 33px;
        margin-top: 30px;
    }
    .section1 .right .right-in .image{
    width: 100%;
    height: 50vw;
    object-fit: cover;
    }
    .section1 .right .right-in .image-bottom{
    padding: 10px;
    padding-top: 20px;
    gap: 8px;
    
    }
.right-in .image-bottom h4{
    background-color: #141416;
    padding: 6px 12px;
    border-radius: 5px;
    width: 45%;
    font-size: 3vw;
    }
}    
@media(max-width:600px){
    .section1 .left h1{
        font-size: 5vw;
    }
    .section1 .left{
        align-items: center;
        justify-content: center;
    }
    .section1 .left .tags h4{
        font-size: 13px;
    }
    .section1 .left .cta button{
        padding: 10px 20px;
        font-size: 16px;
    }
    
}

.section2{
    padding: 100px 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 h1{
    font-family: hell-bold;
    font-size: 150px;
    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
    background-clip: text;
    background-size: cover;
    color: transparent;
    position: relative;
}
.section2 h1.bloom{
    position: absolute;
    filter: blur(45px);
}
.section2 h3{
    font-size: 45px;
    text-transform: capitalize;
    font-family: hell;
    letter-spacing: -1px;

}
@media(max-width:900px){
    .section2 h1{
        font-size: 15vw;
        white-space: nowrap;
    }
    .section2 h3{
        text-align: center;
        font-size: 4vw;
    }
}