*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: white;
    padding: 10px 20px;
    font-family: monospace;
}
.nav1 h6{
    font-size: 17px;
    width: 50px;
    
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 100;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-weight: 100;
}

.nav1 img{
    width: 50px;
}
.hamburger{
    display: none;
    font-size: 25px;
    cursor: pointer;
}
@media(max-width:500px){
    .nav2 h4:not(.hamburger){
        display: none;
    }
    .hamburger{
        display: block;
        color: white;
    }
}